%h1= t("helpers.actions.edit", model: <%= class_name %>.model_name.human)

= render 'form'

.form-actions
  = link_to t("helpers.links.back").html_safe, <%= plural_table_name %>_path, class: 'btn btn-link'
  = link_to t("helpers.actions.show"), @<%= singular_table_name %>, class: 'btn btn-default'
